body{
background:#05070d;
color:white;
font-family:Arial;
text-align:center;
padding:20px;
}

.container{
max-width:600px;
margin:auto;
}

input{
margin:20px;
padding:10px;
background:#111;
color:white;
border:1px solid #333;
}

img{
max-width:300px;
margin-top:10px;
border-radius:10px;
display:none;
}

#loader{
margin-top:10px;
}

h1{
color:#8a3ffc;
}